body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
/* 导航栏样式 */
#nav{
    position: relative;
    width: 100%;
    height: 60px;
    background-color: rgb(58, 58, 66);
    display: flex;
    justify-content: center;
    z-index: 3;
    min-width: 600px;
}
@media screen and (max-width:1024px){
    #nav{
        height: 48px;
    }
}
#nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}
#nav ul li{
    width: 200px;
    font-size: 16px;
    font-family: Microsoft YaHei;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 1.2s;
}
@media screen and (max-width:1024px){
    #nav ul li{
        width: 25%;
        font-size: 8px;
    }
}
#nav ul li a{
    text-decoration:none;
    color: white;
    transition:  border-bottom 1.2s;
    padding: 5px;
}
#nav ul li a:visited{
    color:white;
}
#nav ul li:hover{
    background-color:#32CD32;
}
#nav ul li a:hover{
    border-bottom: white solid 1px
}


body::-webkit-scrollbar{
    width: 5px;
    height: 100%;
}
body::-webkit-scrollbar-thumb{
    border-radius: 50%;
    background-color: white;
}
body::-webkit-scrollbar-track{
    background: black;
}
/* ESG介绍板块样式 */
#introduce_up{
    width: 100%;
    height: calc((100vh - 60px) * 0.5);
    background-image: linear-gradient(45deg, #74ebd5, #9face6, #f6d365, #fda085, #fccb90, #d57eeb, #74ebd5, #9face6, #f6d365, #fda085, #fccb90, #d57eeb);
    background-size: 440%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: turn_color 30s linear infinite;
    min-height: 240px;
    max-height: 600px;
}
@keyframes turn_color{
    0%{
        background-position: 0% 0%;
    }
    50%{
        background-position: 100% 100%;
    }
    100%{
        background-position: 0% 0%;
    }
}

.text{
    position: relative;
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: space-between;
}
.text > p{
    color: white;
    font-size: 36px;
    margin-top: 0px;
    margin-bottom: 1%;
    position: relative;
    font-family: dream;
}
@media screen and (max-width:1024px){
    .text > p{
        font-size: 16px;
    }
}
.text > p:nth-child(1){
    position: relative;
    left: 16%;
}
.text > p:nth-child(2){
    position: relative;
    right: 16%;
}
@font-face {
    font-family: dream;
    src: url(../font/CaviarDreams.ttf);
}
#introduce_down{
    width: 100%;
    height: calc((100vh - 60px) * 0.5);
    position: relative;
    margin-top: 0px;
    display: flex;
    justify-content:space-around;
    background-color: rgb(58, 58, 66);
    min-height: 240px;
    max-height: 600px
}

.down_box{
    position: relative;
    border-radius: 10px;
    width: 16%;
    height: 80%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    filter: blur(6px);
    left: 100%;
    transition: filter 0.6s, opacity 0.6s, left 1.2s ease-out;
    opacity: 0.1;
    background-image: linear-gradient(#74ebd5, #9face6);
}
.down_box:hover{
    filter: blur(0px);
    opacity: 1;
}
.image{
    width: 20%;
    height: 0px;
    padding-bottom: 20%;
    border-radius: 50%;
    border: solid 2px rgba(71, 71, 75, 0.781);
    position: relative;
    top: 20px;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
}
.down_box:nth-child(1) .image{
    background-image: url(../pic/Environmental.png);
}
.down_box:nth-child(2) .image{
    background-image: url(../pic/Social.png);
}
.down_box:nth-child(3) .image{
    background-image: url(../pic/Governance.png);
}
.down_title{
    position: relative;
    font-family: dream;
    font-size: 24px;
}
@media screen and (max-width:1024px){
    .down_title{
        font-size: 12px;
    }
}
.down_title_ch{
    position: relative;
    bottom: 1%;
    font-family: STXingkai;
    font-size: 24px;
}
@media screen and (max-width:1024px){
    .down_title_ch{
        font-size: 12px;
    }
}
/* ESG资讯板块样式 */
#search{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
